/******************************/
/* Aplication coded by Zuluta */
/* 2025                       */
/******************************/

/* variables */
.dictionary-builder {
    --dictionary-builder-bg-color: #95a9ba;
    --section1-bg-color: #444c7a;
    --section2-bg-color: #406887;
    --section3-bg-color: #406887;
    --section4-bg-color: #406887;
    --section5-bg-color: #406887;
}

.dictionary-builder {
    display: grid;
    grid-template-columns: 1fr 1fr 280px;
    grid-template-rows: 30px 1fr 40px;
    grid-gap: 1px;
    grid-template-areas:
        'section1 section1 section1'
        'section2 section3 section5'
        'section4 section4 section5';
    min-height: 100%;
    border: 0px solid var(--dictionary-builder-bg-color);
    place-content: center;
    font-size: .8rem;
    background-color: var(--dictionary-builder-bg-color);
}

.dictionary-builder ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dictionary-builder fieldset {
    padding: 8px 8px;
    border-radius: .25rem;
}

.dictionary-builder fieldset legend {
    padding: 0 3px;
}

.dictionary-builder textarea:focus {
    outline: none;
}

.dictionary-builder textarea::placeholder {
    font-family: system-ui;
    color: #fff;
    opacity: 0.25;
}

.dictionary-builder input:focus{
    outline: none;
}

.dictionary-builder input::placeholder {
    color: #fff;
    opacity: 0.25;
}

.dictionary-builder input[type="text"] {
    font-family: system-ui;
    font-size: .8rem;
    height: 22px;
}

.dictionary-builder input[type="button"] {
    font-family: system-ui;
    font-size: .8rem;
    height: 22px;
}

.dictionary-builder select {
    font-family: system-ui;
    font-size: .8rem;
    height: 22px;
}

.dictionary-builder progress::-webkit-progress-value {
    background-color:#17ad37;
}

.dictionary-builder progress::-moz-progress-bar {
    background-color: #17ad37;
}

.dictionary-builder blockquote {
    border: none;
    border-radius: .25rem;
    margin-top: .75rem;
    padding: .75rem .75rem .75rem .75rem;
    font-size: 0.7rem;
    color: #9bbbd7;
    background-color: #4f729b;
}

.inventory h2 {
    font-size: 1rem;
    font-weight: 600;
}






.dictionary-builder .section-1 {
    display: grid;
    grid-area: section1;
    border: none;
    color: #fff;
    background-color: var(--section1-bg-color);
}






.dictionary-builder .section-2 {
    display: grid;
    grid-area: section2;
    min-width: 280px;
    padding: 15px 20px 20px 20px;
    border: none;
    color: #fff;
    background-color: var(--section2-bg-color);
}

.section-2 .top-side {
    display: grid;
    align-content: start;
}

.section-2 .top-side .dictionary-input-box {
    display: block;
}

.section-2 .top-side .dictionary-input-box .textarea-box {
    display: grid;
    gap: .25rem;
    align-content: start;
    width: 100%;
    height: fit-content;
}

.section-2 .top-side .dictionary-input-box .textarea-box .txt-dictionary-input-filter-regex {
    display: block;
    width: 100%;
    padding: .2rem .3rem .25rem 0;
    text-indent: .3rem;
    border: none;
    border-radius: .15rem;
    color: #eee;
    background-color: #3b3b3b;
}

.section-2 .top-side .dictionary-input-box .textarea-box .txt-dictionary-input-filter {
    display: block;
    width: 100%;
    padding: .2rem .3rem .25rem 0;
    text-indent: .3rem;
    border: none;
    border-radius: .15rem;
    color: #eee;
    background-color: #282828;
}

.section-2 .top-side .dictionary-input-box .textarea-box .dictionary-input {
    display: block;
    overflow-wrap: normal;
    overflow: auto;
    outline: none;
    width: 100%;
    height: 300px;
    border: none;
    border-radius: .15rem;
    padding: .5rem;
    white-space: pre;
    font-family: monospace;
    cursor: text;
    color: #00e300;
    background-color:#282828;
}

.section-2 .top-side .status-box {
    display: grid;
    grid-template-columns: 40px auto 60px;
    margin-top: .4rem;
}

.section-2 .top-side .status-box label {
    display: inline-block;
    width: 40px;
    text-align: left;
}

.section-2 .top-side .status-box span.dictionary-input-rows-origin {
    display: none;
}

.section-2 .top-side .status-box input[type="button"] {
    font-size: .75rem;
    height: 1.15rem;
    text-align: center;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-2 .bottom-side {
    margin-top: 2rem;
    align-content: end;
}

.section-2 .bottom-side .drop-container {
    display: grid;
    width: 100%;
    height: 35px;
    padding: .45rem;
    justify-content: center;
    border-radius: .25rem;
    border: 2px solid #cbcbcb;
    color: #fff;
    cursor: pointer;
}

.section-2 .bottom-side .drop-container:hover,
.section-2 .bottom-side .drop-container.drag-active {
    color: #000;
    background-color: #fff47a;
    border: 2px solid transparent;
}

.section-2 .bottom-side .drop-container input[type=file] {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    visibility: hidden;
}

.section-2 .bottom-side .drop-container input[type=file]::file-selector-button {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    visibility: hidden;
}






.dictionary-builder .section-3 {
    display: grid;
    grid-area: section3;
    min-width: 280px;
    padding: 15px 20px 20px 20px;
    border: none;
    color: #fff;
    background-color: var(--section3-bg-color);
}

.section-3 .top-side {
    display: grid;
    align-content: start;
}

.section-3 .top-side .dictionary-output-box {
    display: block;
}

.section-3 .top-side .dictionary-output-box .textarea-box {
    display: grid;
    gap: .25rem;
    align-content: start;
    width: 100%;
    height: fit-content;
}

.section-3 .top-side .dictionary-output-box .textarea-box .txt-dictionary-output-filter-regex {
    display: block;
    width: 100%;
    padding: .2rem .3rem .25rem 0;
    text-indent: .3rem;
    border: none;
    border-radius: .15rem;
    color: #eee;
    background-color: #3b3b3b;
}

.section-3 .top-side .dictionary-output-box .textarea-box .txt-dictionary-output-filter {
    display: block;
    width: 100%;
    padding: .2rem .3rem .25rem 0;
    text-indent: .3rem;
    border: none;
    border-radius: .15rem;
    color: #eee;
    background-color: #282828;
}

.section-3 .top-side .dictionary-output-box .textarea-box .dictionary-output {
    display: block;
    overflow-wrap: normal;
    overflow: auto;
    outline: none;
    width: 100%;
    height: 300px;
    border: none;
    border-radius: .15rem;
    padding: .5rem;
    white-space: pre;
    font-family: monospace;
    cursor: text;
    color: #ffa500;
    background-color:#282828;
}

.section-3 .top-side .status-box {
    display: grid;
    grid-template-columns: 40px auto 60px;
    margin-top: .4rem;
}

.section-3 .top-side .status-box label {
    display: inline-block;
    width: 40px;
    text-align: left;
}

.section-3 .top-side .status-box span.dictionary-output-rows-origin {
    display: none;
}

.section-3 .top-side .status-box input[type="button"] {
    font-size: .75rem;
    height: 1.15rem;
    text-align: center;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-3 .bottom-side {
    margin-top: 2rem;
    align-content: end;
}

.section-3 .bottom-side .btn-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

.section-3 .bottom-side .btn-box input[type="button"] {
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}






.dictionary-builder .section-4 {
    display: grid;
    grid-area: section4;
    height: 40px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: var(--section4-bg-color);
}

.section-4 .file-info.file-name {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.section-4 .generator-progress {
    display: none;
    width: 100%;
    height: .75rem;
    border: 1px solid #fff;
    border-radius: .15rem;
    background-color: #fff;
}

.section-4 .generator-progress.show-bar {
    display: block;
}






.dictionary-builder .section-5 {
    display: grid;
    grid-area: section5;
    min-width: 280px;
    border: none;
    color: #fff;
    background-color: var(--section5-bg-color);
}

.section-5 .panel-box {
    display: grid;
    position: relative;
    padding: 15px 20px 20px 20px;
    background-color: transparent;
}

.section-5 .panel-box input[type="radio"].tab {
    display: none;
    position: absolute;
}

.section-5 .panel-box label.tab-1,
.section-5 .panel-box label.tab-2,
.section-5 .panel-box label.tab-3,
.section-5 .panel-box label.tab-4,
.section-5 .panel-box label.tab-5,
.section-5 .panel-box label.tab-6,
.section-5 .panel-box label.tab-7 {
    position: absolute;
    width: 85px;
    height: 30px;
    top: -31px;
    border: none;
    padding: .35rem;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

.section-5 .panel-box label.tab-1 {
    left: -315px;
}

.section-5 .panel-box label.tab-2 {
    left: -230px;
}

.section-5 .panel-box label.tab-3 {
    left: -145px;
}

.section-5 .panel-box label.tab-4 {
    left: -60px;
}

.section-5 .panel-box label.tab-5 {
    left: 25px;
}

.section-5 .panel-box label.tab-6 {
    left: 110px;
}

.section-5 .panel-box label.tab-7 {
    left: 195px;
}

.section-5 .panel-box label.tab-1:hover,
.section-5 .panel-box label.tab-2:hover,
.section-5 .panel-box label.tab-3:hover,
.section-5 .panel-box label.tab-4:hover,
.section-5 .panel-box label.tab-5:hover,
.section-5 .panel-box label.tab-6:hover,
.section-5 .panel-box label.tab-7:hover {
    color: #fff;
    background-color: rgba(149, 169, 186, 0.15);
}

.section-5 .panel-box .panel-1,
.section-5 .panel-box .panel-2,
.section-5 .panel-box .panel-3,
.section-5 .panel-box .panel-4,
.section-5 .panel-box .panel-5,
.section-5 .panel-box .panel-6,
.section-5 .panel-box .panel-7 {
    display: none;
}

.section-5 .panel-box #tab-1:checked ~ section.panel-1,
.section-5 .panel-box #tab-2:checked ~ section.panel-2,
.section-5 .panel-box #tab-3:checked ~ section.panel-3,
.section-5 .panel-box #tab-4:checked ~ section.panel-4,
.section-5 .panel-box #tab-5:checked ~ section.panel-5,
.section-5 .panel-box #tab-6:checked ~ section.panel-6,
.section-5 .panel-box #tab-7:checked ~ section.panel-7 {
    display: grid;
}

.section-5 .panel-box #tab-1:checked ~ label.tab-1,
.section-5 .panel-box #tab-2:checked ~ label.tab-2,
.section-5 .panel-box #tab-3:checked ~ label.tab-3,
.section-5 .panel-box #tab-4:checked ~ label.tab-4,
.section-5 .panel-box #tab-5:checked ~ label.tab-5,
.section-5 .panel-box #tab-6:checked ~ label.tab-6,
.section-5 .panel-box #tab-7:checked ~ label.tab-7 {
    color: #fff;
    background-color: #406887;
}

.section-5 .panel-1 {
    margin: 0;
    padding: 0;
    border: none;
}

.section-5 .panel-1 .top-side {
    display: grid;
    gap: .5rem;
    align-content: start;
}

.section-5 .panel-1 .top-side .length-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-5 .panel-1 .top-side .length-box li {
    margin-top: .2rem;
}

.section-5 .panel-1 .top-side .length-box label {
    display: inline-block;
    width: 45px;
    cursor: pointer;
}

.section-5 .panel-1 .top-side .length-box .col-left {
    text-align: left;
    margin: 0;
}

.section-5 .panel-1 .top-side .length-box .col-right {
    text-align: left;
    margin: 0;
}

.section-5 .panel-1 .top-side .length-box input[type="radio"].length {
    appearance: none;
    width: .7rem;
    height: .7rem;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    margin-right: .5rem;
    cursor: pointer;
    accent-color: #282828;
}

.section-5 .panel-1 .top-side .length-box input[type="radio"].length:checked {
    display: inline-block;
    position: relative;
    width: .7rem;
    height: .7rem;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #ffa500;
    top: 0px;
    left: 0px;
}

.section-5 .panel-1 .top-side .range-top {
    display: grid;
    grid-template-columns: 70px auto;
    gap: .3rem;
    margin-top: .3rem;
    width: 100%;
    align-items: center;
}

.section-5 .panel-1 .top-side .range-top label {
    display: block;
    width: 70px;
    text-align: left;
    cursor: pointer;
}

.section-5 .panel-1 .top-side .range-top input[type="text"] {
    display: block;
    width: 100%;
    align-items: center;
    padding: .2rem .3rem .25rem 0;
    text-indent: .3rem;
    border: none;
    border-radius: .15rem;
    color: #00e300;
    background-color: #282828;
}

.section-5 .panel-1 .top-side .range-bottom {
    display: grid;
    justify-content: right;
    margin-top: .75rem;
}

.section-5 .panel-1 .top-side .range-bottom input[type="button"] {
    font-size: .75rem;
    width: 50px;
    height: 1.15rem;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-5 .panel-1 .top-side .add-top {
    display: grid;
    grid-template-columns: 70px auto;
    gap: .3rem;
    margin-top: .3rem;
    width: 100%;
    align-items: center;
}

.section-5 .panel-1 .top-side .add-top label {
    display: block;
    width: 70px;
    text-align: left;
    cursor: pointer;
}

.section-5 .panel-1 .top-side .add-top input[type="text"] {
    display: block;
    width: 100%;
    align-items: center;
    padding: .2rem .3rem .25rem 0;
    text-indent: .3rem;
    border: none;
    border-radius: .15rem;
    color: #00e300;
    background-color: #282828;
}

.section-5 .panel-1 .top-side .add-bottom {
    display: grid;
    justify-content: right;
    margin-top: .75rem;
}

.section-5 .panel-1 .top-side .add-bottom input[type="button"] {
    font-size: .75rem;
    width: 50px;
    height: 1.15rem;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-5 .panel-1 .top-side .speed-min {
    display: inline-block;
    width: 25%;
    margin-top: .3rem;
    font-size: .75rem;
    text-align: left;
    padding-bottom: .25rem;
}

.section-5 .panel-1 .top-side .sleep-range-value {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.section-5 .panel-1 .top-side .speed-max {
    display: inline-block;
    width: 25%;
    margin-top: .3rem;
    font-size: .75rem;
    text-align: right;
    padding-bottom: .25rem;
}

.section-5 .panel-1 .top-side input[type="range"] {
    width: 100%;
    height: 1.2rem;
    cursor: pointer;
    accent-color: #ffd32c;
}

.section-5 .panel-1 .bottom-side {
    display: grid;
    gap: .5rem;
    align-content: end;
}

.section-5 .panel-1 .bottom-side .btn-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

.section-5 .panel-1 .bottom-side .btn-box input[type="button"] {
    width: 100%;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-5 .panel-2 {
    margin: 0;
    padding: 0;
    border: none;
}

.section-5 .panel-2 .top-side {
    display: grid;
    gap: .5rem;
    align-content: start;
}

.section-5 .panel-2 .top-side .add-top {
    display: grid;
    grid-template-columns: 90px auto;
    gap: .3rem;
    margin-top: .3rem;
    width: 100%;
    align-items: center;
}

.section-5 .panel-2 .top-side .add-top label {
    display: block;
    width: 90px;
    text-align: left;
    cursor: pointer;
}

.section-5 .panel-2 .top-side .add-top input[type="text"] {
    display: block;
    width: 100%;
    align-items: center;
    padding: .2rem .3rem .25rem 0;
    text-indent: .3rem;
    border: none;
    border-radius: .15rem;
    color: #ffa500;
    background-color: #282828;
}

.section-5 .panel-2 .top-side .add-bottom {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: .75rem;
}

.section-5 .panel-2 .top-side .add-bottom input[type="button"] {
    font-size: .75rem;
    width: 50px;
    height: 1.15rem;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-5 .panel-2 .bottom-side {
    display: grid;
    gap: .5rem;
    align-content: end;
}

.section-5 .panel-2 .bottom-side .btn-box {
    display: grid;
    gap: .75rem;
    margin-top: 1rem;
}

.section-5 .panel-2 .bottom-side .btn-box input[type="button"] {
    width: 100%;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-5 .panel-3 {
    margin: 0;
    padding: 0;
    border: none;
}

.section-5 .panel-3 .top-side {
    display: grid;
    gap: .5rem;
    align-content: start;
}

.section-5 .panel-3 .top-side .btn-box {
    display: grid;
    gap: .75rem;
    margin-top: .5rem;
}

.section-5 .panel-3 .top-side .btn-box input[type="button"] {
    width: 100%;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-5 .panel-3 .bottom-side {
    display: grid;
    gap: .5rem;
    align-content: end;
}

.section-5 .panel-4 {
    margin: 0;
    padding: 0;
    border: none;
}

.section-5 .panel-4 .top-side {
    display: grid;
    gap: .5rem;
    align-content: start;
}

.section-5 .panel-4 .top-side .replace-top {
    display: grid;
    grid-template-columns: 90px auto;
    gap: .3rem;
    margin-top: .3rem;
    width: 100%;
    align-items: center;
}

.section-5 .panel-4 .top-side .replace-top label {
    display: block;
    width: 90px;
    text-align: left;
    cursor: pointer;
}

.section-5 .panel-4 .top-side .replace-top input[type="text"] {
    display: block;
    width: 100%;
    align-items: center;
    padding: .2rem .3rem .25rem 0;
    text-indent: .3rem;
    border: none;
    border-radius: .15rem;
    color: #ffa500;
    background-color: #282828;
}

.section-5 .panel-4 .top-side .replace-bottom {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: .75rem;
}

.section-5 .panel-4 .top-side .replace-bottom input[type="button"] {
    font-size: .75rem;
    width: 50px;
    height: 1.15rem;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-5 .panel-4 .bottom-side {
    display: grid;
    gap: .5rem;
    align-content: end;
}

.section-5 .panel-4 .bottom-side .btn-box {
    display: grid;
    gap: .75rem;
    margin-top: 1rem;
}

.section-5 .panel-4 .bottom-side .btn-box input[type="button"] {
    width: 100%;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-5 .panel-5 {
    margin: 0;
    padding: 0;
    border: none;
}

.section-5 .panel-5 .top-side {
    display: grid;
    gap: .5rem;
    align-content: start;
}

.section-5 .panel-5 .top-side .btn-box {
    display: grid;
    gap: .75rem;
    margin-top: .5rem;
}

.section-5 .panel-5 .top-side .btn-box input[type="button"] {
    width: 100%;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-5 .panel-5 .bottom-side {
    display: grid;
    gap: .5rem;
    align-content: end;
}

.section-5 .panel-6 {
    margin: 0;
    padding: 0;
    border: none;
}

.section-5 .panel-6 .top-side {
    display: grid;
    gap: .5rem;
    align-content: start;
}

.section-5 .panel-6 .top-side .parser-top {
    display: grid;
    grid-template-columns: 40px auto;
    gap: .3rem;
    margin-top: .3rem;
    width: 100%;
    align-items: center;
}

.section-5 .panel-6 .top-side .parser-top label {
    display: block;
    width: 40px;
    text-align: left;
    cursor: pointer;
}

.section-5 .panel-6 .top-side .parser-top input[type="text"] {
    display: block;
    width: 100%;
    align-items: center;
    padding: .2rem .3rem .25rem 0;
    text-indent: .3rem;
    border: none;
    border-radius: .15rem;
    color: #ffa500;
    background-color: #282828;
}

.section-5 .panel-6 .top-side .parser-medium {
    display: block;
    width: fit-content;
}

.section-5 .panel-6 .top-side .parser-medium input[type="checkbox"] {
    display: inline-block;
    appearance: none;
    width: .7rem;
    height: .7rem;
    margin-right: .25rem;
    border: 2px solid #fff;
    border-radius: .08rem;
    background-color: #fff;
    opacity: 1;
    cursor: pointer;
    accent-color: #282828;
}

.section-5 .panel-6 .top-side .parser-medium input[type="checkbox"]:checked {
    background: #ffa500;
}

.section-5 .panel-6 .top-side .parser-medium label {
    display: inline-block;
    width: auto;
    text-align: left;
    cursor: pointer;
}

.section-5 .panel-6 .top-side .parser-bottom {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: .75rem;
}

.section-5 .panel-6 .top-side .parser-bottom input[type="button"] {
    font-size: .75rem;
    width: 50px;
    height: 1.15rem;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-5 .panel-6 .top-side .fraction-top {
    display: grid;
    grid-template-columns: 90px auto;
    gap: .3rem;
    margin-top: .3rem;
    width: 100%;
    align-items: center;
}

.section-5 .panel-6 .top-side .fraction-top label {
    display: block;
    width: 90px;
    text-align: left;
    cursor: pointer;
}

.section-5 .panel-6 .top-side .fraction-top input[type="text"] {
    display: block;
    width: 100%;
    align-items: center;
    padding: .2rem .3rem .25rem 0;
    text-indent: .3rem;
    border: none;
    border-radius: .15rem;
    color: #ffa500;
    background-color: #282828;
}

.section-5 .panel-6 .top-side .fraction-bottom {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: .75rem;
}

.section-5 .panel-6 .top-side .fraction-bottom input[type="button"] {
    font-size: .75rem;
    width: 50px;
    height: 1.15rem;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-5 .panel-6 .bottom-side {
    display: grid;
    gap: .5rem;
    align-content: end;
}

.section-5 .panel-7 {
    margin: 0;
    padding: 0;
    border: none;
}

.section-5 .panel-7 .top-side {
    display: grid;
    gap: .5rem;
    align-content: start;
}

.section-5 .panel-7 .top-side .btn-box {
    display: grid;
    gap: .75rem;
    margin-top: .5rem;
}

.section-5 .panel-7 .top-side .btn-box input[type="button"] {
    width: 100%;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
}

.section-5 .panel-7 .bottom-side {
    display: grid;
    gap: .5rem;
    align-content: end;
}
